.site {
  font-size: 115%;
  text-align: justify;
  /*line-height: 1.5em;*/
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.peeking-tiki {
  display: none;
  position: absolute;
  width: 30vh;
  height: 60vh;
  opacity: 0.75;
  bottom: 4vh;
  left: -15vh;
}

h1 {
  color: #e56238;
  margin-bottom: 15px;
}

h2, h3, h4, h5 {
  color: #005d8b;
}

.tiki-header .logo {
  width: 60%;
  margin-left: 10%;
  margin-right: 30%;
}

.tiki-footer {
  text-align: center;
}

.tiki-footer .sponsors {
  margin-top: 15px;
  margin-bottom: 5px;
}

.tiki-footer .sponsor img {
  width: 6%;
  margin: 5px;
}

.tiki-footer .sponsor a {
  opacity: 0.6;
}

.tiki-footer .sponsor a:hover {
  opacity: 1;
}

.tooltip-inner {
  width: 350px;
}

@media screen and (min-width: 900px) and (min-height: 600px) {
  .content {
    width: 80%;
    margin-left: 15%;
    margin-right: 5%;
  }

  .peeking-tiki {
    display : inline;
  }
}

/* Home */
#home .tiki-history {
  margin-top: 30px;
}

#home .announcements .alert {
  margin: 10px auto;
  padding: 25px 15px;
  width: 95%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#home .tiki-history * {
  text-align: center;
}