.site {
  font-size: 115%;
  text-align: justify;
  line-height: 1.5em;
}

.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #e56238;
  margin-bottom: 15px;
}

h2, h3, h4, h5 {
  color: #005d8b;
}

.tiki-header .logo {
  width: 60%;
  margin-left: 10%;
  margin-right: 30%;
}

.tooltip-inner {
  width: 350px;
}

/* Home */
#home .tiki-history {
  margin-top: 30px;
}