---
layout: default
title: Ohana
showTicketBanner: false
---

<div id="ohana">
	<h1>Our Ohana</h1>

	<h3>This is how we do Tiki Night</h3>

	<p>
		After undergoing a nasty operation, Skypp decided he wanted to do something for the community that could incorporate his love for cycling. After doing a bit of research he found the National MS Society and the Bike MS Bay to Bay Tour. In order to ride in the event, Skypp needed to raise money for the National MS Society. That became his goal. Since that first year friends, family and co-workers have come out to him with their admission to having MS or knowing someone who has this complicated disease. It's for them that Skypp continues to raise funds for this charity and cycles the 150 miles year after year. It's for them that this fundraising party known as Tiki Night has been organised by Skypp year after year.
	</p>

	<h3>He can't do this alone... <br>
		Skypp has many Menehunes helping him out!</h3>

	<h4 class='team-header'>2014 Team Tiki Ha Ha</h4>

	<div class='row'>

		{% for person in site.data.people %}

			<div class='col-md-4'>
				<div class='person'>
					<img src='{{site.baseurl}}/assets/people/{{person.img}}'>
					<h5>{{person.name}}</h5>
				</div>
			</div>

	{% capture modulo3 %}{{ forloop.index | modulo:3 }}{% endcapture %}
	{% if modulo3 == '0' %}

	</div>
	<div class='row'>

	{% endif %}

		{% endfor %}

	</div>

	<p>
		Coming to Tiki Night with your friends and family makes you instantly part of our Ohana. But “Sweetening The Night To Fight MS” doesn't happen by just waiving our hands in the air like we just don't care. It happens with the help of the following people, businesses and organizations.These are our Menehune Ohana.  Please make sure to thank these fine folks by supporting them in their own efforts.
	</p>

	<p>
		Ohana means Family. We’ll leave it up to you to figure out what a Menehune is. 
	</p>

	<h3>Thank you to our Big Kahuna Sponsors!</h3>

	<div class='sponsors'>
		{% for sponsor in site.data.sponsors %}
			{% if sponsor.big_kahuna %}
				<span class='sponsor'>
					<a href='{{sponsor.url}}'>
						<title>{{sponsor.name}}</title>
						<img src='{{site.baseurl}}/assets/{{sponsor.img}}'>
					</a>
				</span>
			{% endif %}
		{% endfor %}
	</div>

	<h3>Other Sponsors</h3>

	<div class='row'>
		<div class='col-sm-3 col-sm-offset-2'>
			<hr>
			{% for sponsor in site.data.sponsors %}
				{% unless sponsor.big_kahuna %}
					<h5>{{sponsor.name}}</h5>
				{% endunless %}
			{% endfor %}
			<hr>
		</div>
		<div class='col-sm-3 col-sm-offset-2'>
			<hr>
			{% for name in site.data.personal_sponsors %}
				<h5>{{name}}</h5>
			{% endfor %}
			<hr>
		</div>
	</div>

</div>