<div class='tiki-footer'>

	<div class='sponsors'>
		{% for sponsor in site.data.sponsors %}
			<span class='sponsor'>
				<a href='{{sponsor.url}}'>
					<title>{{sponsor.name}}</title>
					<img src='{{site.baseurl}}/assets/{{sponsor.img}}'>
				</a>
			</span>
		{% endfor %}
	</div>

	<hr>

	<div class='disclaimer'>
		TikiNight.info domain generously underwritten by Ernie and Ursula Cabanas.<br> 
		Design services donated by Donovan McMurray.<br><br>
		Please note that performers, showtimes, prices, prizes and schedules are subject to change without notice.<br><br>
		We try our best to make sure we deliver the best possible experience as promised, but as finely tuned as Tiki Night is, we can't control everything. We thank you for your support of us and of the National MS Society. To receive immediate updates follow us on Twitter @TikiNightEvents or on Facebook.
	</div>

</div>