---
layout: default
title: About MS
---

<div id="about-ms">

	<h1>What is MS?</h1>

	<h3>About Multiple Sclerosis</h3>
	<p>
		Multiple sclerosis interrupts the flow of information between the brain and the body and it stops people from moving. Every hour in the United States, someone is newly diagnosed with MS, an unpredictable, often disabling disease of the central nervous system. Symptoms range from numbness and tingling to blindness and paralysis. The progress, severity and specific symptoms of MS in any one person cannot yet be predicted, but advances in research and treatment are moving us closer to a world free of MS. Most people with MS are diagnosed between the ages of 20 and 50, with more than twice as many women as men being diagnosed with the disease. MS affects more than 400,000 people in the U.S., and 2.5 million worldwide.
	</p>

	<h3>About the National Multiple Sclerosis Society</h3>

	<p>
		MS stops people from moving. The National MS Society exists to make sure it doesn’t. We help each person address the challenges of living with MS. Last year alone, through our home office and 50 state network of chapters, we devoted over $136 million to programs that enhanced more than one million lives. To move us closer to a world free of MS, the Society also invested over $50 million to support 440 research projects around the world. We are people who want to do something about MS NOW. Join the movement at nationalmssociety.org. Early and ongoing treatment with an FDA-approved therapy can make a difference for people with multiple sclerosis. Learn about your options by talking to your health care professional and contacting the National MS Society at nationalmssociety.org or 1-800-FIGHT-MS (344-4867).
	</p>

	<div class='row videos'>
		<div class='col-md-6'>
			<iframe width="300" height="240" src="http://www.youtube.com/embed/cllkDMvypPo" frameborder="0" style="border:0"></iframe>
		</div>

		<div class='col-md-6'>
			<iframe width="300" height="240" src="http://www.youtube.com/embed/rQOvk_xuNvw" frameborder="0" style="border:0"></iframe>
		</div>
	</div>	

	<h3>Our expenses:</h3>
	<ul>
		{% for expense in site.data.expenses %}
			{% if expense.description %}
				<li>{{expense.description}}</li>
			{% else %}
				<ul>
					{% for subitem in expense %}
						<li>{{subitem.description}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</ul>

</div>